.steps {
  background-color: #f2f2f2;
  border-radius: 1rem 1rem 0 0;
  padding: 2rem;
  font-size: 1.2em;

  &__item {
    padding-left: 2rem;
    margin: 1rem 0;
    line-height: 1.2;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 1.2rem;
      height: 1px;
      background: #F18042;
      left: 0;
      top: .7rem;

    }
  }
}