@use 'src/styles/vars';

.home {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 2rem;

  &__header {
    display: flex;
    justify-content: space-between;
    background-color: vars.$color-secondary;
    width: 86%;
  }

  &__card {
    width: 28%;
    margin: 0.5rem;
    min-width: 250px;
    border-radius: 10px;
    border: 1px solid vars.$color-border;

    &__img {
      border-radius: 10px 10px 0 0;
      max-width: 100%;
    }

    &__content {
      padding: 1rem;

      &__title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-weight: bold;
      }

      &__difficulty {
        margin: 0.5rem 0;
        font-size: 1.1rem;
        display: block;
      }

      &__link {
        display: block;
        color: vars.$color-primary;
        font-size: 1.1rem;
      }
    }
  }
}
