@use 'src/styles/vars';

.nav {
  padding-top: 1rem;
  min-width: 25vw;
  height: 100vh;
  background-color: vars.$color-secondary;
  border: 3px solid vars.$color-secondary;

  &__item {
    display: block;
    margin: 1rem 0 1rem 1.5rem;
    font-size: 1.3rem;

    &--active {
      color: vars.$color-primary;
    }
  }
}

@media screen and (max-width: 414px) {
  .nav {
    display: none;
  }
}
